<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Process Instance Details</title>
</head>
<body>
<h1>Process Instance Details</h1>

<!--<div th:if="${processInstance != null}">-->
<!--  <table border="1">-->
<!--    <tr>-->
<!--      <th>Process Instance ID</th>-->
<!--      <td th:text="${processInstance.getProcessInstanceId()}">Process Instance ID</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Process Definition ID</th>-->
<!--      <td th:text="${processInstance.getProcessDefinitionId()">Process Definition ID</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Start Time</th>-->
<!--      <td th:text="${processInstance.getStartTime()}">Start Time</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Business Key</th>-->
<!--      <td th:text="${processInstance.getBusinessKey()}">Business Key</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->

<a href="/">Back to Home</a>
</body>
</html>
